#main {
  width: 100%;
}
#main .pagination {
  padding: 0 2%;
}
div#posts {
  width: 96%;
  padding-left: 2%;
  padding-right: 2%;
}
div#posts pre ol.linenums {
  font-size: 6px;
}
ul#posts {
  width: 96%;
  padding-left: 2%;
  padding-right: 2%;
}
#googlesearch {
  margin: 0 auto;
}
