---
title: direnv for npm local commands
date: 2014/07/02 19:19
layout: ../views/_single_post.jade
---

:markdown

  通常、 **npm** で実行コマンドをインストールするときは、以下のようにグローバルオプションを
  つけてインストールするのことが多いと思う。

  ```sh
  $ npm install -g gulp
  ```

  だけど、これではプロジェクトごとに違うバージョンを使いたい！などの場合にこまる。
  そこで direnv

  これを使うとあるディレクトリでは、「〜〜する」というのが簡単に出来る。

  ### 導入方法

  

// vim: ft=markdown
