@import '_settings'

normalize()
base()

// base styles on everything, for prototyping
framework()

header
  /* background: orange */
  background: #fefcea /* Old browsers */
  background: linear-gradient(bottom, #fefcea 0%,#e03333 82%) /* W3C */
  width: 100%
  text-align: center

  h1
    color: white
    padding: 80px 0
    font-weight: 300

#posts
  reset-list()
  width: 800px
  margin: 30px auto

  h2
    margin-bottom: 40px

  li
    margin: 10px 0
    fs: 1.5em

  ol
    li
      list-style-type: decimal

  pre
    ol
      li
        margin: 3px 0

#main
  width: 800px
  margin: 50px auto

body
  a
    color: #e03333

pre
  code
    margin: 0
    padding: 0
    font-size: 13px
    border: 0
    background: none
  ol
    font-size: 8px

.com
  color: #93a1a1
.lit
  color: #195f91
.pun, .opn, .clo
  color: #93a1a1
.fun
  color: #dc322f
.str, .atv
  color: #D14
.kwd, .linenums .tag
  color: #1e347b
.typ, .atn, .dec, .var
  color: teal
.pln
  color: #48484c

.prettyprint
  padding: 8px
  background-color: #f7f7f9
  border: 1px solid #e1e1e8

.prettyprint.linenums
  box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0

ol.linenums
  margin: 0 0 0 33px

ol.linenums li
  padding-left: 12px
  color: #bebec5
  line-height: 18px
  text-shadow: 0 1px 0 #fff

